body {
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    height: 500px;
    width: 100%;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;
}

.about-sign-in{
    height: 80px;
    width: 100%;
    text-align: right;
}

.about, .sign-in{
    padding: 10px 15px;
    margin-top: 20px ;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.sign-in{
    color: green;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid green;
}

.logo{
    background: url('./hapoERP.png') center center no-repeat;
    margin-top: 20px;
    height: 100px;      
}

.text{
    text-align: center;
    font-style: italic;
    font-family: Roboto;
    margin-top: 30px;
}
.btn-start-now{
    text-align: center;
    
}
button{
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-family: Roboto;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid green;
    cursor: pointer;
}

.left,.right,.center{
    width: 33%;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
span{
    display: block;
    font-size: 30px;
}
img{
    height: 30px;
    width: 30px;
}